root = true

[**/*.*]
charset = utf-8-bom
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true

[*.{editorconfig,gitignore,md}]
charset = utf-8
end_of_line = lf

[*.{*proj,pubxml,resx,settings}{,.user}]
indent_size = 2
