root = true

[*.*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true

[*.cs]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1852.severity = none

[RIPEMD160Managed.cs]
dotnet_diagnostic.CA1725.severity = none

[*.sln]
end_of_line = crlf

[*.{{*proj,pubxml,resx,settings}{,.user},lock.json,Build.props,yml}]
indent_size = 2

[{packages.lock.json,testFile.txt}]
insert_final_newline = false
