<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <!-- 
        MajorUpdate: Package.ProductCode Package.Version
        MinorUpdate: Package.Version
        SmallUpdate: No Changes
    -->
    <Package Name="HashCalculator" Manufacturer="Hibi_10000" Version="0.5.4" ProductCode="60095A52-52EB-4DC9-8752-ADD0C130A798" UpgradeCode="B0C53B72-7CDE-4EF9-A3F8-0838292E7197" Language="1033" Codepage="932" InstallerVersion="405">
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <MajorUpgrade DowngradeErrorMessage="A new version of [ProductName] is already installed." />
        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="HashCalculator">
                <Component Id="HASH.EXE" DiskId="1" Guid="B0B89934-3D7F-49CC-A8BE-DB6CEDF489CC" Bitness="always64">
                    <File Id="HASH.EXE" Name="Hash.exe" Source="..\Hash\publish\win-x64\Hash.exe" KeyPath="yes" ReadOnly="yes" />
                </Component>
                <Component Id="REGISTRY" DiskId="1" Guid="671CCB3C-65C5-460C-9C73-158662C1E451" Bitness="always64">
                    <RegistryKey Root="HKCR" Key="*\shell\HashForContext" />
                    <RegistryValue Root="HKCR" Type="string" Key="*\shell\HashForContext" Name="MUIVerb" Value="Hash for ContextMenu(&amp;F)" />
                    <RegistryValue Root="HKCR" Type="string" Key="*\shell\HashForContext" Name="SubCommands" Value="" />
                    <RegistryValue Root="HKCR" Type="string" Key="*\shell\HashForContext\shell\*\command" Value="&quot;C:\Program Files\HashCalculator\Hash.exe&quot; /ctm /f &quot;%1&quot;" />
                    <RegistryValue Root="HKCR" Type="string" Key="*\shell\HashForContext\shell\MD5\command" Value="&quot;C:\Program Files\HashCalculator\Hash.exe&quot; /ctm /f &quot;%1&quot; /h MD5" />
                    <RegistryValue Root="HKCR" Type="string" Key="*\shell\HashForContext\shell\SHA1\command" Value="&quot;C:\Program Files\HashCalculator\Hash.exe&quot; /ctm /f &quot;%1&quot; /h SHA1" />
                    <RegistryValue Root="HKCR" Type="string" Key="*\shell\HashForContext\shell\SHA256\command" Value="&quot;C:\Program Files\HashCalculator\Hash.exe&quot; /ctm /f &quot;%1&quot; /h SHA256" />
                    <RegistryValue Root="HKCR" Type="string" Key="*\shell\HashForContext\shell\SHA384\command" Value="&quot;C:\Program Files\HashCalculator\Hash.exe&quot; /ctm /f &quot;%1&quot; /h SHA384" />
                    <RegistryValue Root="HKCR" Type="string" Key="*\shell\HashForContext\shell\SHA512\command" Value="&quot;C:\Program Files\HashCalculator\Hash.exe&quot; /ctm /f &quot;%1&quot; /h SHA512" />
                    <RegistryValue Root="HKCR" Type="string" Key="*\shell\HashForContext\shell\CRC16-IBM\command" Value="&quot;C:\Program Files\HashCalculator\Hash.exe&quot; /ctm /f &quot;%1&quot; /h CRC16-IBM" />
                    <RegistryValue Root="HKCR" Type="string" Key="*\shell\HashForContext\shell\CRC32\command" Value="&quot;C:\Program Files\HashCalculator\Hash.exe&quot; /ctm /f &quot;%1&quot; /h CRC32" />
                    <RegistryValue Root="HKCR" Type="string" Key="*\shell\HashForContext\shell\CRC64-ECMA\command" Value="&quot;C:\Program Files\HashCalculator\Hash.exe&quot; /ctm /f &quot;%1&quot; /h CRC64-ECMA" />
                </Component>
            </Directory>
        </StandardDirectory>
        <StandardDirectory Id="DesktopFolder">
            <Component Id="HASHCALCULATOR.LNK.DF" DiskId="1" Guid="92B1091C-2E0F-45EF-A5C3-22D76FD66BD8" Bitness="always64">
                <RegistryValue Root="HKCU" Key="Software\Hibi_10000\HashCalculator" Name="InstallFolder" Value="[INSTALLFOLDER]" Type="string" KeyPath="yes" />
                <Shortcut Id="DesktopShortcut" Name="HashCalculator.lnk" Target="[INSTALLFOLDER]Hash.exe" WorkingDirectory="INSTALLFOLDER" />
            </Component>
        </StandardDirectory>
        <StandardDirectory Id="ProgramMenuFolder">
            <Component Id="HASHCALCULATOR.LNK.PMF" DiskId="1" Guid="DCC6F1D4-B1E8-4C47-AC9F-B5F7362614FD" Bitness="always64">
                <RegistryValue Root="HKCU" Key="Software\Hibi_10000\HashCalculator" Name="InstallFolder" Value="[INSTALLFOLDER]" Type="string" KeyPath="yes" />
                <Shortcut Id="ProgramMenuShortcut" Name="HashCalculator.lnk" Target="[INSTALLFOLDER]Hash.exe" WorkingDirectory="INSTALLFOLDER" />
            </Component>
        </StandardDirectory>
        <Feature Id="DefaultFeature" Title="HashCalculator" Level="1" AllowAbsent="no" AllowAdvertise="no">
            <ComponentRef Id="HASH.EXE" />
            <ComponentRef Id="REGISTRY" />
            <ComponentRef Id="HASHCALCULATOR.LNK.PMF" />
        </Feature>
        <Feature Id="DesktopShortcut" Title="DesktopShortcut" Level="1" AllowAdvertise="no">
            <ComponentRef Id="HASHCALCULATOR.LNK.DF" />
        </Feature>
        <UIRef Id="NormalUI" />
        <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
    </Package>
</Wix>
